/*Events*/

.events {
  background-color: var(--dark-background);
  color: var(--light-color);
  padding: 50px;
  font-family: Arial, sans-serif;
}

.events h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

.event {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  gap: 30px;
}

.event-date {
  width: 60px;
  text-align: center;
  flex-shrink: 0;
}

.event-date .day {
  display: block;
  font-size: 32px;
  font-weight: bold;
}

.event-date .month {
  display: block;
  font-size: 14px;
}

.event-text {
  flex-grow: 1;
  max-width: 55%;
}

.event-text p {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 10px;
  max-width: 500px;
}

.event-text .intro {
  margin-top: 0;
  font-weight: bold;
}

.event-image {
  width: 30%;
}

.event-image img {
  width: 391px;
  height: 167px;
  object-fit: cover;
  background-color: #eee;
}

@media (max-width: 768px) {
  /* Events */
  .events {
    padding: 20px;
  }

  .event {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
  }

  .event-image {
    order: 0;
    max-width: 100%;
    width: 100%;
  }

  .event-date {
    order: 1;
    width: 100%;
  }

  .event-text {
    order: 2;
    max-width: 100%;
    width: 100%;
  }

  .event-image img {
    width: 100%;
    height: auto;
  }
}
