:root {
  --dark-background: #4f14a0;
  --light-color: #ffffff;
}

/*Aqua - Følg os*/
.aqua {
  background-color: #6fccd3;
  color: var(--light-color);
  display: flex;
  height: 224px;
  gap: 74px;
  align-items: center;
  padding-left: 145px;
}
.aqua h3,
i {
  font-size: 28px;
}
.aqua h3 {
  padding-right: 144px;
}

/*Links*/
.links {
  background-color: var(--dark-background);
  color: var(--light-color);
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: sans-serif;
  font-size: 14px;
}

.links .info {
  max-width: 250px;
  margin-right: 40px;
}

.links h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.links p {
  margin: 0;
  line-height: 1.4;
  font-size: 14px;
}

.links ul {
  list-style: none;
  padding: 0;
  margin: 0 20px;
}

.links ul li {
  margin-bottom: 12px;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}

.links ul li:first-child {
  font-weight: bold;
  text-transform: none;
  margin-bottom: 15px;
}

/*Footer*/
footer {
  background-color: #ff9964;
  color: var(--light-color);
  height: 59px;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}
.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: var(--light-color);
  text-decoration: none;
}
