/*Gallery*/
.gallery {
  display: grid;
  max-width: 1200px;
  margin: 10px auto;
  gap: 10px;
  grid-template-columns: repeat(5, 240px);
  grid-template-rows: repeat(4, 200px);
  grid-template-areas:
    "imgOne imgOne imgTwo imgThree imgThree"
    "imgOne imgOne imgFour imgFive imgFive"
    "imgSix imgSeven imgSeven imgFive imgFive"
    "imgSix imgEight imgNine imgNine imgTen";
}
.gallery section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

#imgOne {
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
  grid-area: imgOne;
}

#imgTwo {
  grid-area: imgTwo;
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
}

#imgThree {
  grid-area: imgThree;
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
}

#imgFour {
  grid-area: imgFour;
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
}

#imgFive {
  grid-area: imgFive;
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
}

#imgSix {
  grid-area: imgSix;
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
}

#imgSeven {
  grid-area: imgSeven;
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
}

#imgEight {
  grid-area: imgEight;
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
}

#imgNine {
  grid-area: imgNine;
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
}

#imgTen {
  grid-area: imgTen;
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
}

/*map*/
.map {
  background-image: url(/assets/img/Scroll\ Group\ 1.png);
  height: 535px;
}

@media (max-width: 768px) {
  /* Gallery grid */
  .gallery {
    display: grid;
    width: 100%;
    padding: 10px;
    gap: 10px;
    grid-template-columns: repeat(2, 240px);
    grid-template-rows: repeat(13, 200px);
    grid-template-areas:
      "imgOne imgOne"
      "imgOne imgOne"
      "imgTwo imgThree"
      "imgFour imgFour"
      "imgFour imgFour"
      "imgFive imgFive"
      "imgSix imgSix"
      "imgSix imgSix"
      "imgSeven imgSeven"
      "imgSeven imgSeven"
      "imgEight imgNine"
      "imgTen imgTen"
      "imgTen imgTen";
  }

  .gallery section {
    height: 200px;
    background-size: cover;
  }
}
