header {
  position: relative;
  background-color: #f2f2f2;
  height: 579px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

header img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}

header h1 {
  background-color: var(--light-color);
  padding: 20px 30px;
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  z-index: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.whitetext {
  min-height: 254px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whitetext p {
  max-width: 607px;
  font-size: 18px;
}
