*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

nav ul,
a {
  background-color: #ff9964;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
nav ul li:first-child {
  margin-left: 100px;
  margin-right: 60px;
}
nav ul li:last-child {
  margin-right: 300px;
  margin-left: 60px;
}

.aqua {
  background-color: #5ab4a8;
  color: white;
  display: flex;
  height: 224px;
  gap: 74px;
  align-items: center;
  padding-left: 145px;
}
.aqua h3,
i {
  font-size: 25px;
}

.links {
  height: 249px;
  background-color: #4f14a0;
}

footer {
  background-color: #ff9964;
  height: 59px;
}
