* {
  font-family: sans-serif;
}

/*Nav*/
nav ul,
a {
  background-color: #ff9964;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
nav ul li:first-child {
  margin-left: 100px;
  margin-right: 60px;
}
nav ul li:last-child {
  margin-right: 300px;
  margin-left: 60px;
}
