* {
  font-family: sans-serif;
}

/*Nav*/
nav ul,
a {
  background-color: #ff9964;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
nav ul li:first-child {
  margin-left: 100px;
  margin-right: 60px;
}
nav ul li:last-child {
  margin-right: 300px;
  margin-left: 60px;
}
@media (max-width: 768px) {
  nav ul,
  nav a {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  nav ul li {
    margin: 0;
  }

  nav ul li:first-child,
  nav ul li:last-child {
    margin: 0;
  }

  .map {
    background-size: cover;
    height: 300px;
  }
}
