/*Gallery*/
.gallery {
  display: grid;
  max-width: 1200px;
  margin: 10px auto;
  gap: 10px;
  grid-template-columns: repeat(5, 240px);
  grid-template-rows: repeat(4, 200px);
  grid-template-areas:
    "imgOne imgOne imgTwo imgThree imgThree"
    "imgOne imgOne imgFour imgFive imgFive"
    "imgSix imgSeven imgSeven imgFive imgFive"
    "imgSix imgEight imgNine imgNine imgTen";
}

#imgOne {
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
  grid-area: imgOne;
}

#imgTwo {
  grid-area: imgTwo;
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
}

#imgThree {
  grid-area: imgThree;
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
}

#imgFour {
  grid-area: imgFour;
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
}

#imgFive {
  grid-area: imgFive;
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
}

#imgSix {
  grid-area: imgSix;
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
}

#imgSeven {
  grid-area: imgSeven;
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
}

#imgEight {
  grid-area: imgEight;
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
}

#imgNine {
  grid-area: imgNine;
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
}

#imgTen {
  grid-area: imgTen;
  background-image: url("/assets/img/Placement Area.png");
  background-size: cover;
}

/*Events*/

.events {
  background-color: #441dac;
  color: white;
  padding: 50px;
  font-family: Arial, sans-serif;
}

.events h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

.event {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  gap: 30px;
}

.event-date {
  width: 60px;
  text-align: center;
  flex-shrink: 0;
}

.event-date .day {
  display: block;
  font-size: 32px;
  font-weight: bold;
}

.event-date .month {
  display: block;
  font-size: 14px;
}

.event-text {
  flex-grow: 1;
  max-width: 55%;
}

.event-text p {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 10px;
  max-width: 500px;
}

.event-text .intro {
  margin-top: 0;
  font-weight: bold;
}

.event-image {
  width: 30%;
}

.event-image img {
  width: 391px;
  height: 167px;
  object-fit: cover;
  background-color: #eee;
}

/*map*/
.map {
  background-image: url(/assets/img/Scroll\ Group\ 1.png);
  height: 535px;
}
